<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RTDB" connectionString="Data Source=msdb2.surf-town.net;Initial Catalog=Madrid_RaceTimer;User ID=Madrid_RTUser;Password=RTPass123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>