<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IPSDB" connectionString="Data Source=MSDB2.web.surftown.se;Initial Catalog=Madrid_IPSDB;User ID=Madrid_IPSUser;Password=IPSUser123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>